<div id="body-inner">
<h1>{{ page.title }}</h1>
<div class="page-content">
	{{ printfriendly(page.route) }} - Reading Time: {{ page.content|readingtime }} 
	{{ page.content }}

	Last Modified: {{ page.modified()|date("m/d/Y") }}
</div>
</div>
